<div id="noteTabs">
  <button class="noteTab" id="currentButton" (click)="mainTab($event)">
    Current
  </button>
  <button
    class="noteTab"
    id="completedButton"
    (click)="completedNoteTab($event)"
  >
    Completed
  </button>
  <button
    class="noteTab"
    id="cancelledButton"
    (click)="cancelledNoteTab($event)"
  >
    Cancelled
  </button>
</div>
<div id="note-container">
  <div id="main-note-container">
    <div id="pageDim"></div>
    <h1>TODO LIST</h1>
    <div id="fileArea">
      <label for="file">Choose file to upload</label>
      <input type="file" id="file" name="file" (change)="importNote($event)" />
    </div>
    <div id="toolbar">
      <button id="newNoteButton" (click)="newNoteWindow($event)">+</button>
      <button (click)="clearNotes($event)">DELETE ALL</button>
    </div>
    <div id="templateNote">
      <form class="template-note">
        <label for="male">Title:</label>
        <textarea type="text" id="template-title" name="title"> </textarea>
        <br />
        <label for="male">Body:</label>
        <textarea type="text" id="template-paragraph" name="paragrph">
        </textarea>
      </form>
      <p></p>
      <button (click)="addInputNote($event)">New Note</button>
      <button (click)="cancelNewNote($event)">Cancel</button>
    </div>
  </div>

  <div id="completedContainer">
    <h1>TODO LIST</h1>
    <h2 id="completedTitle"> Completed </h2>
  </div>
  <div id="cancelledContainer">
    <h1>TODO LIST</h1>
    <div id="cancelledTitle"> 
    <h2> Cancelled </h2>
    </div>
  </div>
</div>
